strict_env
nix_direnv_manual_reload
use flake "$DEV_SHELLS_ROOT/golem"

export CARGO_INSTALL_ROOT="$PWD/.direnv/cargo"
PATH_add $CARGO_INSTALL_ROOT

local extra_bins="$PWD/.direnv/extra-bin"
mkdir -p $extra_bins

# setup golem
{
  local golem_bin_path="$extra_bins/golem"
  if [ ! -f "$golem_bin_path" ]; then
    local cached_path=$(fetchurl "https://github.com/golemcloud/golem/releases/download/v1.1.16/golem-x86_64-unknown-linux-gnu" "sha256-2i2SWeWllp3ysGhMHkTdGtvegFbRycUCS+xTp6N5fDE=")
    cp "$cached_path" "$golem_bin_path"
    chmod +x "$golem_bin_path"
  fi
}

PATH_add $extra_bins
